<!doctype html>
<script type="text/javascript">
	 window.SAILS_LOCALS = {
            relatedProducts: <%- typeof relatedProducts !=='undefined'? JSON.stringify(relatedProducts) : 'null' %>, 
            product: <%- typeof product !=='undefined'? JSON.stringify(product) : 'null' %>
          }; 
</script>
<div ng-controller="ProductController">
	
<section class="breadcrumbs">
				<div class="container">
					<ul class="horizontal_list clearfix bc_list f_size_medium">
						<li class="m_right_10 current"><a href="#" class="default_t_color">Home<i class="fa fa-angle-right d_inline_middle m_left_10"></i></a></li>
						<li class="m_right_10" ng-cloak><a href="#" class="default_t_color">{{product.category}}</a></li>
					</ul>
				</div>
			</section>
			<!--content-->
			<div class="page_content_offset">
				<div class="container">
					<div class="row clearfix">
						<!--left content column-->
						<section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
							<div class="clearfix m_bottom_30 t_xs_align_c">
						<div class="photoframe type_2 shadow r_corners f_left f_sm_none d_xs_inline_b product_single_preview relative m_right_30 m_bottom_5 m_sm_bottom_20 m_xs_right_0 w_mxs_full">
							<span class="hot_stripe"><img src="/images/sale_product.png" alt=""></span>
							<div class="relative d_inline_b m_bottom_10 qv_preview d_xs_block">
								<img style="height: 438px; width: 438px; " id="zoom_image" src="<%=product.picture%>" data-zoom-image="<%=product.picture%>" class="tr_all_hover" alt="">
								<a href="<%=product.picture%>" class="d_block button_type_5 r_corners tr_all_hover box_s_none color_light p_hr_0">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
						<div class="p_top_10 t_xs_align_l" ng-cloak>
							<!--description-->
							<h2 class="color_dark fw_medium m_bottom_10"><%= product.name %></h2>
							<div class="m_bottom_10">
								<!--rating-->
								<ul class="horizontal_list d_inline_middle type_2 clearfix rating_list tr_all_hover">
									<li class="active" ng-model="stars1" value="1">
										<i class="fa fa-star-o empty tr_all_hover"></i>
										<i class="fa fa-star active tr_all_hover"></i>
									</li>
									<li class="active" ng-model="stars2" value="2">
										<i class="fa fa-star-o empty tr_all_hover"></i>
										<i class="fa fa-star active tr_all_hover"></i>
									</li>
									<li class="active" ng-model="stars3" value="3">
										<i class="fa fa-star-o empty tr_all_hover"></i>
										<i class="fa fa-star active tr_all_hover"></i>
									</li>
									<li class="active" ng-model="stars4" value="4">
										<i class="fa fa-star-o empty tr_all_hover"></i>
										<i class="fa fa-star active tr_all_hover"></i>
									</li>
									<li ng-model="stars5" value="5">
										<i class="fa fa-star-o empty tr_all_hover"></i>
										<i class="fa fa-star active tr_all_hover"></i>
									</li>
								</ul>
							</div>
							<hr class="m_bottom_10 divider_type_3">
							<table class="description_table m_bottom_10">
								<tr>
									<td>Manufacturer:</td>
									<td><a href="#" class="color_dark"><%= product.owner.fullname %></a></td>
								</tr>
								<tr>
									<td>Availability:</td>
									<td><span class="color_green">in stock</span> <%= product.quantity %> item(s)</td>
								</tr>
							</table>
							<hr class="divider_type_3 m_bottom_10">
							<p class="m_bottom_10">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing. </p>
							<hr class="divider_type_3 m_bottom_15">
							<div class="m_bottom_15">
								<s class="v_align_b f_size_ex_large">$ <%= product.price +50 %></s><span class="v_align_b f_size_big m_left_5 scheme_color fw_medium"><%= product.price %></span>
							</div>
							<table class="description_table type_2 m_bottom_15">
								<tr>
									<td class="v_align_m">Quantity:</td>
									<td class="v_align_m">
										<div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark">
											<button class="bg_tr d_block f_left" data-direction="down">-</button>
											<input type="text" name="" readonly value="1" class="f_left">
											<button class="bg_tr d_block f_left" data-direction="up">+</button>
										</div>
									</td>
								</tr>
							</table>
							<div class="d_ib_offset_0 m_bottom_20">
								<button class="button_type_12 r_corners bg_scheme_color color_light tr_delay_hover d_inline_b f_size_large" ng-click="addToCart(product)">Ajouter au panier</button>
								<button class="button_type_12 bg_light_color_2 tr_delay_hover d_inline_b r_corners color_dark m_left_5 p_hr_0"><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Wishlist</span><i class="fa fa-heart-o f_size_big"></i></button>
								<button class="button_type_12 bg_light_color_2 tr_delay_hover d_inline_b r_corners color_dark m_left_5 p_hr_0"><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Compare</span><i class="fa fa-files-o f_size_big"></i></button>
								<button class="button_type_12 bg_light_color_2 tr_delay_hover d_inline_b r_corners color_dark m_left_5 p_hr_0 relative"><i class="fa fa-question-circle f_size_big"></i><span class="tooltip tr_all_hover r_corners color_dark f_size_small">Ask a Question</span></button>
							</div>
							<p class="d_inline_middle">Share this:</p>
							<div class="d_inline_middle m_left_5 addthis_widget_container">
								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
								<a class="addthis_button_preferred_1"></a>
								<a class="addthis_button_preferred_2"></a>
								<a class="addthis_button_preferred_3"></a>
								<a class="addthis_button_preferred_4"></a>
								<a class="addthis_button_compact"></a>
								<a class="addthis_counter addthis_bubble_style"></a>
								</div>
								<!-- AddThis Button END -->
							</div>
						</div>
					</div>
					<!--tabs-->
					<div class="tabs m_bottom_45">
						<!--tabs navigation-->
						<nav>
							<ul class="tabs_nav horizontal_list clearfix">
								<li class="f_xs_none"><a href="#tab-1" class="bg_light_color_1 color_dark tr_delay_hover r_corners d_block">Description</a></li>
								<li class="f_xs_none"><a href="#tab-2" class="bg_light_color_1 color_dark tr_delay_hover r_corners d_block">Reviews</a></li>
							</ul>
						</nav>
						<section class="tabs_content shadow r_corners" ng-cloak>
							<div id="tab-1">
								<p>{{product.description}}</p>
							</div>
							<div id="tab-2">
								<div class="row clearfix">
									<% if (product.comments.length == 0){ %>
									<div class="col-lg-8 col-md-8 col-sm-8">
										<h5 class="fw_medium m_bottom_15">Aucun commentaires n'a été posté.</h5> 
									</div>
									<% } %>
								</div>
								<div class="row clearfix" ng-init="init()">
									<% if (product.comments.length > 0) { %>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<h5 class="fw_medium m_bottom_15">Derniers Commentaires</h5>
										<!--review-->
										<article ng-repeat = "comment in product.comments">
											<div class="clearfix m_bottom_10">
												<p class="f_size_medium f_left f_mxs_none m_mxs_bottom_5"> {{comment.postedBy}}  - {{comment.createdAt | date}}</p>
												<!--rating-->
												<ul class="horizontal_list f_right f_mxs_none clearfix rating_list type_2">
													<li class="active">
														<i class="fa fa-star-o empty tr_all_hover"></i>
														<i class="fa fa-star active tr_all_hover"></i>
													</li>
													<li class="active">
														<i class="fa fa-star-o empty tr_all_hover"></i>
														<i class="fa fa-star active tr_all_hover"></i>
													</li>
													<li class="active">
														<i class="fa fa-star-o empty tr_all_hover"></i>
														<i class="fa fa-star active tr_all_hover"></i>
													</li>
													<li class="active">
														<i class="fa fa-star-o empty tr_all_hover"></i>
														<i class="fa fa-star active tr_all_hover"></i>
													</li>
													<li>
														<i class="fa fa-star-o empty tr_all_hover"></i>
														<i class="fa fa-star active tr_all_hover"></i>
													</li>
												</ul>	
											</div>
											<p class="m_bottom_15">{{comment.review}}</p>
											<hr class="m_bottom_15">
										</article>
									</div>
									<% } %>
									<div class="col-lg-6 col-md-6 col-sm-6" ng-show="showTextArea">
										<h5 class="fw_medium m_bottom_15">Poster un commentaire</h5>
										<p class="f_size_medium m_bottom_15">Ecrivez votre commentaire ici, avec au maximum 200 caractères.</p>
										<form name="reviewForm" ng-submit="createComment(product)" novalidate>
											<textarea ng-model="comment.review" class="r_corners full_width m_bottom_10 review_tarea"></textarea>
											<p class="f_size_medium m_bottom_5">Veuillez noter le produit</p>
											<div class="d_block full_width m_bottom_10">
												<div class="d_block m_bottom_5 v_align_m">
													<p class="f_size_medium d_inline_middle m_right_5">Rating:</p>
													<!--rating-->
													<ul class="horizontal_list clearfix rating_list type_2 d_inline_middle">
														<li class="active">
															<i class="fa fa-star-o empty tr_all_hover"></i>
															<i class="fa fa-star active tr_all_hover"></i>
														</li>
														<li class="active">
															<i class="fa fa-star-o empty tr_all_hover"></i>
															<i class="fa fa-star active tr_all_hover"></i>
														</li>
														<li class="active">
															<i class="fa fa-star-o empty tr_all_hover"></i>
															<i class="fa fa-star active tr_all_hover"></i>
														</li>
														<li class="active">
															<i class="fa fa-star-o empty tr_all_hover"></i>
															<i class="fa fa-star active tr_all_hover"></i>
														</li>
														<li>
															<i class="fa fa-star-o empty tr_all_hover"></i>
															<i class="fa fa-star active tr_all_hover"></i>
														</li>
													</ul>
												</div>
											</div>
											<button type="submit" class="r_corners button_type_4 tr_all_hover mw_0 color_dark bg_light_color_2">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
							<div class="clearfix">
						<h2 class="color_dark tt_uppercase f_left m_bottom_15 f_mxs_none">Produits similaires</h2>
						<div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5">
							<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners rp_prev"><i class="fa fa-angle-left"></i></button>
							<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners rp_next"><i class="fa fa-angle-right"></i></button>
						</div>
					</div>
					<div class="related_projects m_bottom_15 m_sm_bottom_0 m_xs_bottom_15">
					<% _.forEach(relatedProducts, function (similarProduct){ %>
						<figure class="r_corners photoframe shadow relative d_xs_inline_b tr_all_hover">
							<!--product preview-->
							<a href="/app/product/<%= similarProduct.id %>" class="d_block relative pp_wrap">
								<img src="<%= similarProduct.picture %>" style="height: 242px; width: 242px;" class="tr_all_hover" alt="">
								<span data-popup="#quick_view_product" class="t_md_align_c button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
							</a>
							<!--description and price of product-->
							<figcaption class="t_xs_align_l">
								<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis"><%= similarProduct.name %></a></h5>
								<div class="clearfix">
									<p class="scheme_color f_left f_size_large m_bottom_15"> $ <%= similarProduct.price %></p>
									<!--rating-->
									<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
										<li class="active">
											<i class="fa fa-star-o empty tr_all_hover"></i>
											<i class="fa fa-star active tr_all_hover"></i>
										</li>
										<li class="active">
											<i class="fa fa-star-o empty tr_all_hover"></i>
											<i class="fa fa-star active tr_all_hover"></i>
										</li>
										<li class="active">
											<i class="fa fa-star-o empty tr_all_hover"></i>
											<i class="fa fa-star active tr_all_hover"></i>
										</li>
										<li class="active">
											<i class="fa fa-star-o empty tr_all_hover"></i>
											<i class="fa fa-star active tr_all_hover"></i>
										</li>
										<li>
											<i class="fa fa-star-o empty tr_all_hover"></i>
											<i class="fa fa-star active tr_all_hover"></i>
										</li>
									</ul>
								</div>
								<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0" ng-click="addToCart(<%= similarProduct %>)">Ajouter au panier</button>
							</figcaption>
						</figure>
					<%  }) %>	
					</div>
					
							<hr class="divider_type_3 m_bottom_15">
							<a href="/" role="button" class="d_inline_b bg_light_color_2 color_dark tr_all_hover button_type_4 r_corners"><i class="fa fa-reply m_left_5 m_right_10 f_size_large"></i>Retour à l'acceuil</a>
						</section>
						<!--right column-->
						
					</div>
				</div>
			</div>

</div>